* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary
*.zip binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.mp3 binary
*.wav binary
*.ogg binary
*.mp4 binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
