.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: calc(var(--header-h) + env(safe-area-inset-top));
  padding-bottom: calc(var(--player-h) + env(safe-area-inset-bottom));
  flex: 1;
}
